@import "tailwindcss";

@font-face {
  font-family: 'Ethnocentric';
  src: url('../assets/fonts/Ethnocentric Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo2';
  src: url('../assets/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: 'Exo2', sans-serif;
}
.menu-font {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.02em;
}